section {
  padding: 1rem ;

  form {
    width: 50%;
  }

  .title {
    text-align: center;
    font-weight: 500;
  }

  .field-group {
    display: flex;
    align-items: center;
    gap: 1rem;
    mat-radio-group,
    mat-form-field {
      flex: 1;
    }
  }

  .field-gender {
    display: block;
    margin-bottom: 1rem;
  }
}