<section>
  <h1 class="title">Add Employee</h1>
  <form>
    <mat-radio-group aria-label="Select Gender" [color]="'primary'">
      <mat-radio-button value="male">Male</mat-radio-button>
      <mat-radio-button value="female">Female</mat-radio-button>
    </mat-radio-group>
      <mat-form-field appearance="outline">
        <mat-label>Firstname</mat-label>
        <input matInput placeholder="Firstname">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Lastname</mat-label>
        <input matInput placeholder="Lastname">
      </mat-form-field>
  </form>
</section>