section {
  padding: 1rem ;
  .title {
    text-align: center;
    font-weight: 500;
  }

  .field-group {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .field-gender {
    display: block;
    margin-bottom: 1rem;
  }
}