<section>
  <h1 class="title">Add Employee</h1>
  <form [formGroup]="formEmployee">
    <mat-radio-group aria-label="Select Gender" [color]="'primary'" class="field-gender" formControlName="gender">
      <mat-radio-button value="male">Male</mat-radio-button>
      <mat-radio-button value="female">Female</mat-radio-button>
    </mat-radio-group>
    <div class="field-group">
      <mat-form-field appearance="outline" formControlName="firstname">
        <mat-label>Firstname</mat-label>
        <input matInput placeholder="Firstname">
      </mat-form-field>
      <mat-form-field appearance="outline" formControlName="lastname">
        <mat-label>Lastname</mat-label>
        <input matInput placeholder="Lastname">
      </mat-form-field>
    </div>
    <div class="field-group">
      <mat-form-field appearance="outline" formControlName="email">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email">
      </mat-form-field>
      <mat-form-field appearance="outline" formControlName="phone">
        <mat-label>Phone</mat-label>
        <input matInput placeholder="Phone">
      </mat-form-field>
    </div>
    <div class="field-group">
      <mat-form-field appearance="outline" formControlName="birthdate">
        <mat-label>Birthdate</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline" formControlName="jobtitle">
        <mat-label>Job Title</mat-label>
        <input matInput placeholder="Job Title">
      </mat-form-field>
    </div>
  </form>
</section>