<div class="container-login">
  <div class="form-login">
    <div class="form-label">Employee Organize</div>
    <form class="form-field" [formGroup]="loginForm">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Password" formControlName="password">
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Login</button>
    </form>
  </div>
</div>